* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", " sans-serif";
}
/* .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8%;
    display: flex;
    flex-direction: column;
} */

    .container {
        width: fit-content;
        min-height: 100vh;
        display: flex;
        padding: 10px 8%;
        flex-direction: column;
        margin: 0 auto;
    }

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img {
    width: 100%;
    pointer-events: none;
}
  /* .btn-container{
    padding: 10px 10px 10px 0px;
  align-items: center; 
     margin: 0px 0px 0px 115px;
    border: 1px solid red;
    width: 82%;  */

    .btn-container {
        padding: 0px 10px 10px 0px;
        align-items: center;
        /* margin-bottom: 10px; */
        /* border: 1px solid red; */
        width: 100%;
    }
#voltar-page{
    text-decoration: none; 
    padding: 5px 10px;  
    border-radius: 3rem;
    color: #696161;
   font-family: a;
    text-transform: none;
    box-shadow: none;
    margin: 1rem 0rem;
    border: 0.1rem solid #696161;
    cursor: pointer;
    transition: 0.2s;
}