* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", " sans-serif";
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8%;
    display: flex;
    flex-direction: column;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img {
    width: 100%;
    pointer-events: none;
}
.btn-container{
    padding: 10px 10px 10px 0px;
    align-self: start;
}
#voltar-page{
    text-decoration: none; 
    padding: 5px 5px;  
    border-radius: 3rem;
    color: #070707;
    font-fargb(20, 19, 19)rvo, serif;
    text-transform: none;
    box-shadow: none;
    margin: 1rem 0rem;
    border: 0.1rem solid #111010;
    cursor: pointer;
    transition: 0.2s;
}