:root {
    font-size: 62.5%;
}
html {
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body {
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    overflow: hidden auto;
    height: 100%;
    background-image: linear-gradient(#00000066, #000000e0),
    url("https://images.unsplash.com/photo-1575202332411-b01fe9ace7a8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.container {
    height: 90%;
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem 0rem 3rem;
    color: #fff;
}
header {
    text-align: center;
    margin-bottom: 0.4rem;
}
header img {
    width: 12.2rem;
    height: 12.2rem;
    /* border: solid 1px #fff; */
    border-radius: 50%;
    margin: 0 0 0 0;
    gap: 2rem;
}
header h1 {
    color: #ffffff;
    font-family: Arvo;
    font-weight: 400;
    font-size: 2.1rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 0.5px 1px;
}

btn-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
a.link button {
    width: 100%;
    border-radius: 3.6rem;
    background-color: rgba(183, 184, 177, 0);
    color: #ffffff;
    font-family: Arvo, serif;
    text-transform: none;
    box-shadow: none;
    /* font-size: 2.6rem; */
    min-height: 5.5rem;
    /* padding: 0.8rem; */
    margin: 1rem 0rem;
    /* //1.6 */
    border: 0.1rem solid #ffffff;
    cursor: pointer;
    transition: 0.2s;
}
a.link button:hover {
    transform: scale(1.05);
}

span {
    font-family: Arvo, serif;
    font-size: 2rem;
}
.container__redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-redes{
    height: 30px;
    width: 40px;
    margin-top: 10px;
}
@media (max-width: 375px) {
    .container {
        padding: 0rem 2rem 0rem 2rem;
    }
    header img {
        margin-top: 10px;
    }
    header h1 {
        font-size: 1.8rem;
    }
    a.link button {
        min-height: 4rem;
        /* padding: 0.8rem; */
        margin: 1rem 0rem;
    }

    span {
        font-family: Arvo, serif;
        font-size: 1.3rem;
    }
}
